.site-head {
  min-width: 1152px;
  height: 150px;
}
.site-head .topbar {
  height: 32px;
  line-height: 32px;
  background-color: #383d42;
}
.site-head .topbar .short-links {
  float: left;
}
.site-head .topbar .short-links > ul > li {
  float: left;
  margin-right: 18px;
  height: 32px;
}
.site-head .topbar .short-links > ul > li > a {
  font-size: 12px;
  color: #fff;
}
.site-head .topbar .short-links > ul > li.have-menu {
  position: relative;
  padding-right: 12px;
}
.site-head .topbar .short-links > ul > li.have-menu .arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  margin-top: -5px;
  transition: transform 0.2s;
}
.site-head .topbar .short-links > ul > li.have-menu:hover .arrow {
  transform: rotate(180deg);
}
.site-head .topbar .short-links > ul > li.have-menu .menu {
  position: absolute;
  top: 90%;
  left: 0;
  display: block;
  width: 121px;
  padding: 8px 6px 18px 6px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}
.site-head .topbar .short-links > ul > li.have-menu:hover .menu {
  display: block;
}
.site-head .topbar .short-links > ul > li.have-menu .menu li:hover a {
  color: orange;
}
.site-head .topbar .short-links > ul > li.have-menu .menu ul li {
  height: 20px;
  line-height: 20px;
}
.site-head .topbar .short-links > ul > li.have-menu .menu a {
  font-size: 12px;
  line-height: 20px;
  color: #1c1f21;
}
.site-head .topbar .short-links > ul > li.have-menu .arrow b {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #fff;
}
.site-head .topbar .short-links > ul > li.have-menu .arrow i {
  position: absolute;
  top: 0.5px;
  left: 3px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #2a2a2a;
}
.site-head .topbar .topbar-r {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}
.site-head .topbar .topbar-r a,
.site-head .topbar .topbar-r span {
  margin-right: 16px;
  color: #fff;
  font-size: 18px;
}
.site-head .topbar .topbar-r a:nth-child(1) {
  position: relative;
  padding-right: 15px;
}
.site-head .topbar .topbar-r a:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 1px;
  height: 18px;
  background-color: #fff;
}
.site-head .topbar .topbar-r a:nth-child(5),
.site-head .topbar .topbar-r a:nth-child(6) {
  font-size: 12px;
}
.site-head .main-nav {
  height: 40px;
  line-height: 40px;
  background-color: #20bd9a;
}
.site-head .main-nav ul > li {
  float: left;
  margin-right: 18px;
}
.site-head .main-nav ul > li a {
  font-size: 16px;
  color: #fff;
}
.site-head .main-nav ul > li.have-menu {
  position: relative;
  padding-right: 16px;
}
.site-head .main-nav ul > li.have-menu::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border: 4px solid transparent;
  border-bottom: none;
  border-top-color: #fff;
  transition: transform 0.2s;
}
.site-head .main-nav ul > li.have-menu:hover::before {
  transform: rotate(180deg);
}
.site-head .main-nav ul > li.have-menu .menu {
  position: absolute;
  top: 35px;
  left: 0;
  width: 150px;
  padding: 8px;
  z-index: 9999;
  color: #1c1f21;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: none;
}
.site-head .main-nav ul > li.have-menu:hover .menu {
  display: block;
}
.site-head .main-nav ul li .menu dl dd a {
  font-size: 12px;
  color: #1c1f21;
  line-height: 18px;
}
.site-head .main-nav ul li .menu dl dd a:hover {
  color: orange;
}
.site-head .main-nav ul li .menu dt {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
.site-head .main-nav ul li .menu dd {
  line-height: 20px;
}
.site-head .header-con {
  box-sizing: border-box;
  padding: 21px 0;
  height: 78px;
}
.site-head .header-con .center-wrap,
.site-head .header-con {
  display: flex;
  align-items: center;
}
.site-head .header-con h1 {
  margin-right: 20px;
  font-size: 24px;
  color: #20bd9a;
}
.site-head .header-con .soso-box {
  height: 30px;
}
.site-head .header-con .soso-box input {
  position: relative;
  float: left;
  width: 371px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #20bd9a;
  opacity: 0.3;
  border-radius: 4px 0 0 4px;
  padding: 2px 1px 2px 10px;
  font-size: 14px;
}
.site-head .header-con a {
  float: left;
  width: 32px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #20bd9a;
  border-radius: 0 4px 4px 0;
  color: #fff;
}
.banner {
  position: relative;
  overflow: hidden;
  min-width: 1152px;
}
.banner .carousel-list {
  width: 600%;
  overflow: hidden;
  transition: transform .5s ease 0s;

}
.banner .carousel-list li {
  float: left;
  /* 相对于ul */
  width: 16.666%;
}
.banner .carousel-list li img {
  width: 100%;
  min-width: 1152px;
  /* 图片可能和盒子的底部产生一些缝隙 */
  vertical-align: middle;
}
.banner .circles {
  position: absolute;
  width: 160px;
  height: 20px;
  bottom: 10px;
  left: 50%;
  margin-left: -75px;
  z-index: 9999;
}
.banner .circles li {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  transition: all .5s ease 0s;
  cursor: pointer;
}
.banner .circles li:last-child {
  margin-right: 0;
}
.banner .circles li.current {
  width: 40px;
  background-color: #20bd9a;
}
.banner .center-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}
.banner .banner-nav {
  width: 652px;
  height: 100%;
}
.banner .banner-nav #banner-nav-ul {
  height: 100%;
}
.banner .banner-nav #banner-nav-ul > li {
  position: relative;
  box-sizing: border-box;
  width: 296px;
  height: 16.66%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #fff;
  color: #fff;
}
.banner .banner-nav #banner-nav-ul > li:last-child {
  border-bottom: none;
}
.banner .banner-nav > ul > li dl {
  position: absolute;
  height: 48px;
  top: 50%;
  left: 42px;
  margin-top: -24px;
  color: #fff;
}
.banner .banner-nav #banner-nav-ul > li dt {
  font-size: 18px;
  height: 26px;
  line-height: 26px;
}
.banner .banner-nav #banner-nav-ul > li dd {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
}
.banner .banner-nav > ul > li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  background-image: url(../images/icons.png);
}
.banner .banner-nav > ul > li.hot::before {
  width: 22px;
  height: 18px;
  margin-top: -9px;
  background-position: -29px -399px;
}
.banner .banner-nav > ul > li.hk::before {
  width: 18px;
  height: 21px;
  margin-top: -10.5px;
  background-position: -28px -217px;
}
.banner .banner-nav > ul > li.jp::before {
  width: 24px;
  height: 19px;
  margin-top: -9.5px;
  background-position: -25px -171px;
}
.banner .banner-nav > ul > li.as::before {
  width: 18px;
  height: 19px;
  margin-top: -9.5px;
  background-position: -28px -262px;
}
.banner .banner-nav > ul > li.eu::before {
  width: 20px;
  height: 14px;
  margin-top: -7px;
  background-position: -29px -351px;
}
.banner .banner-nav > ul > li.au::before {
  width: 18px;
  height: 21px;
  margin-top: -10.5px;
  background-position: -28px -305px;
}
.banner .center-wrap .leftbtn {
  position: absolute;
  left: -38px;
  top: 50%;
  width: 28px;
  height: 44px;
  margin-top: -22px;
  background: url(../images/icons.png) no-repeat -21px -94px;
}
.banner .center-wrap .rightbtn {
  position: absolute;
  right: -38px;
  top: 50%;
  width: 28px;
  height: 44px;
  margin-top: -22px;
  background: url(../images/icons.png) no-repeat -21px -29px;
}
.banner .center-wrap .leftbtn:hover,
.banner .center-wrap .rightbtn:hover {
  opacity: 0.6;
}
.banner .center-wrap .banner-nav .menus-box .menu {
  display: none;
  position: absolute;
  left: 296px;
  top: 0;
  width: 356px;
  height: 100%;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: #fff;
}
.banner .center-wrap .banner-nav .menus-box .menu.current {
  display: block;
}
.banner .center-wrap .banner-nav .menus-box .menu a {
  color: #fff;
}
.banner .center-wrap .banner-nav .menus-box .menu dt {
  line-height: 24px;
  font-size: 16px;
}
.banner .center-wrap .banner-nav .menus-box .menu dd {
  line-height: 22px;
  font-size: 14px;
}
.hot-ads .center-wrap > ul {
  padding: 32px 0;
}
.hot-ads .center-wrap > ul li {
  float: left;
  width: 264px;
  height: 110px;
  margin-right: 32px;
}
.hot-ads .center-wrap > ul li:nth-child(4) {
  margin-right: 0;
}
.xxsw {
  height: 698px;
  padding-top: 40px;
  background-color: #f7f7f7;
}
.content-part .hd {
  margin-bottom: 32px;
  font-size: 36px;
  color: #1c1f21;
}
.content-part .hd h2 {
  float: left;
}
.content-part .hd em {
  float: left;
  position: relative;
  top: 25px;
  left: 12px;
  font-size: 12px;
}
.xxsw .center-wrap > ul > li {
  float: left;
  margin-right: 32px;
  margin-bottom: 32px;
  width: 264px;
  height: 270px;
  background-color: #fff;
}
.xxsw .center-wrap > ul > li:nth-child(4n) {
  margin-right: 0;
}
.xxsw .center-wrap > ul > li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.xxsw .center-wrap > ul > li .wordbox {
  padding: 15px;
  color: #1c1f21;
  font-size: 14px;
}
.common-style {
  height: 698px;
  padding-top: 40px;
}
.content-part .hd nav {
  float: right;
}
.content-part .hd > nav > ul {
  padding-top: 16px;
}
.content-part .hd > nav > ul > li {
  float: left;
  margin-right: 16px;
  font-size: 14px;
}
.content-part .hd > nav > ul > li:last-child {
  margin-right: 0;
}
.content-part .hd > nav > ul > li a {
  color: rgba(0, 0, 0, 0.85);
}
.content-part .hd > nav > ul > li.current {
  padding-bottom: 4px;
  border-bottom: 4px solid #20bd9a;
}
.content-part .hd > nav > ul > li.current a {
  color: #20bd9a;
}
.common-style .bd > ul > li {
  position: relative;
  float: left;
  margin-right: 32px;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.common-style .bd > ul > li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.common-style .bd > ul > li:nth-child(3),
.common-style .bd > ul > li:nth-child(7) {
  margin-right: 0;
}
.common-style .bd > ul > li.big-grid {
  position: relative;
  width: 560px;
  height: 270px;
  margin-right: 32px;
}
.common-style .bd > ul > li.big-grid .info {
  position: absolute;
  bottom: 0;
  width: 560px;
  height: 103px;
  line-height: 22px;
  padding: 30px 26px;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.55);
}
.common-style .bd > ul > li.pro-grid {
  width: 264px;
  height: 270px;
}
.common-style .bd > ul > li.pro-grid .wordbox {
  padding: 14px;
  font-size: 14px;
  color: #1c1f21;
}
.content-part .bd .more-grid {
  width: 264px;
  height: 270px;
}
.common-style .bd > ul > li .picbox {
  position: relative;
  height: 184px;
}
.jjzyx .bd > ul > li .tag {
  position: absolute;
  left: 0;
  width: 74px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.jjzyx .bd > ul > li .picbox .tag {
  bottom: 0;
}
.jjzyx .bd > ul > li.big-grid .tag {
  bottom: 103px;
}
.content-part .bd .more-grid a {
  display: block;
  padding-top: 46px;
  height: 100%;
  box-sizing: border-box;
}
.content-part .bd .more-grid {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #34e3bc 0%, #15af7a 98%);
}
.content-part .bd .more-grid p {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
.content-part .bd .more-grid span.iconfont {
  position: absolute;
  width: 48px;
  height: 48px;
  font-size: 48px;
  left: 50%;
  top: 118px;
  margin-left: -24px;
  color: #fff;
}
.content-part .bd .more-grid:hover span.iconfont {
  animation: ud 0.5s ease 0s infinite alternate;
}
@keyframes ud {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}
.content-part .bd .more-grid ul {
  width: 236px;
  margin: 0 auto;
  margin-top: 112px;
  text-align: center;
  /* 解决inline-block元素之间的空隙 */
  font-size: 0;
}
.content-part .bd .more-grid ul li {
  display: inline-block;
  padding: 0 8px;
  /* line-height: 22px; */
  font-size: 14px;
  border-right: 1px solid #fff;
  color: #fff;
}
.content-part .bd .more-grid ul li:last-child {
  border-right: none;
}
.ddwl {
  height: 546px;
  padding-top: 40px;
  background-color: #f7f7f7;
}
.ddwl .bd .col {
  float: left;
  width: 364px;
  height: 420px;
  margin-right: 30px;
}
.ddwl .bd .col:last-child {
  margin-right: 0;
}
.ddwl .bd .bigpicbox {
  position: relative;
  width: 364px;
  height: 270px;
  margin-bottom: 30px;
  overflow: hidden;
}
.ddwl .bd .bigpicbox .info {
  position: absolute;
  bottom: 0;
  width: 364px;
  height: 104px;
  box-sizing: border-box;
  padding: 17px 21px 0;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.ddwl .bd .bigpicbox .info .bottom {
  margin-top: 8px;
}
.ddwl .bd .bigpicbox .info .bottom .tag {
  float: left;
}
.ddwl .bd .bigpicbox .info .bottom .price {
  float: right;
}
.ddwl .bd .bigpicbox .info .bottom .price strong {
  color: #36dfba;
}
.ddwl .bd .col .grid {
  width: 364px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.ddwl .bd .col .grid .picbox {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.ddwl .bd .col .grid .wordbox {
  float: left;
  width: 244px;
  height: 120px;
  padding: 26px 18px 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
}
.ddwl .bd .col .more-grid {
  width: 364px;
  height: 270px;
  background-image: linear-gradient(180deg, #ff6374 1%, #ff7368 98%);
}
.ddwl .bd .col .more-grid ul {
  width: 310px;
}
.ddwl .bd .col > div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tsddty {
  height: 456px;
  padding-top: 40px;
  background-color: #fff;
}
.tsddty .hd h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}
.tsddty .bd > ul > li {
  float: left;
  width: 264px;
  height: 290px;
  margin-right: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.tsddty .bd > ul > li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tsddty .bd > ul > li:last-child {
  margin-right: 0;
}
.tsddty .bd > ul > li .picbox {
  width: 264px;
  height: 184px;
}
.tsddty .bd > ul > li .wordbox {
  padding: 16px 14px 0;
}
.tsddty .bd > ul > li .proname {
  height: 48px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
.tsddty .bd > ul > li .wordbox .score {
  font-size: 12px;
  color: #fa6400;
}
.tsddty .bd > ul > li .wordbox .comment {
  font-size: 12px;
  color: #000;
}
.zsjsdlx {
  background-color: #f7f7f7;
}
.zsjsdlx .bd > ul > li.more-grid {
  background-image: linear-gradient(180deg, #bd5ee8 0%, #832abb 98%);
}
.gtbzzy .bd > ul > li.more-grid {
  background-image: linear-gradient(180deg, #41d8e9 0%, #3685ea 98%);
}
.content-part img,
.tsddty img {
  transition: all 0.3s;
}
.content-part img:hover,
.tsddty img:hover {
  transform: scale(1.1);
}
.content-part .picbox {
  height: 184px;
}
.content-part li,
.picbox,
.content-part .grid {
  overflow: hidden;
}
.big-grid.havehover .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.big-grid.havehover .circle {
  position: absolute;
  width: 106px;
  height: 106px;
  left: 50%;
  top: -106px;
  margin-left: -53px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding-top: 30px;
  transition: top 0.3s ease 0s;
}
.big-grid .circle p {
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.big-grid.havehover .word {
  position: absolute;
  left: 50%;
  bottom: -100px;
  width: 508px;
  margin-left: -254px;
  font-size: 14px;
  color: white;
  transition: bottom 0.3s ease 0s;
}
.big-grid.havehover:hover .mask {
  opacity: 1;
}
.big-grid.havehover:hover .circle {
  top: 62px;
}
.big-grid.havehover:hover .word {
  bottom: 30px;
}
footer {
  min-width: 1152px;
}
footer .part1 {
  height: 220px;
  padding: 36px 0 0;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
footer .part1 ul li {
  float: left;
  padding: 0 26px;
  height: 18px;
  line-height: 18px;
  border-right: 1px solid #1c1f21;
}
footer .part1 ul li:last-child {
  border-right: 0;
  padding-right: 0;
}
footer .part1 ul li:first-child {
  padding-left: 0;
}
footer .part1 ul li a {
  font-size: 18px;
  color: #1c1f21;
}
footer .part1 dl {
  position: relative;
  float: left;
  width: 289px;
  padding-left: 75px;
  margin-right: 30px;
}
footer .part1 .dlbox {
  padding-top: 40px;
}
footer .part1 dl:last-child {
  margin-right: 0;
}
footer .part1 dl dt {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
footer .part1 dl dd {
  font-size: 14px;
}
footer .part1 dl::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-image: url(../images/icons.png);
}
footer .part1 dl.txfw::before {
  background-position: -150px -178px;
}
footer .part1 dl.ccsx::before {
  background-position: -150px -104px;
}
footer .part1 dl.axph::before {
  background-position: -150px -31px;
}
footer .part2 {
  height: 225px;
  background-color: #1c1f21;
}
footer .part2 .r1 {
  padding-top: 48px;
}
footer .part2 .r1 h2 {
  float: left;
  margin-right: 21px;
  font-size: 46px;
  color: #fff;
}
footer .part2 .r1 p {
  float: left;
  width: 532px;
  padding-top: 15px;
  font-size: 14px;
  color: #fff;
}
footer .part2 .links {
  padding-top: 31px;
}
footer .part2 .links ul li {
  float: left;
  padding: 0 10px;
  height: 14px;
  line-height: 14px;
  border-right: 1px solid #fff;
}
footer .part2 .links ul li:first-child {
  padding-left: 0;
}
footer .part2 .links ul li:last-child {
  padding-right: 0;
  border-right: 0;
}
footer .part2 .links ul li a {
  font-size: 14px;
  color: #fff;
}
footer .part2 .copyrights {
  padding-top: 8px;
  font-size: 14px;
  color: #fff;
}
