* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #efefef;
}

header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  transition: all .3;
}

.header-inner {
  transition: all .3;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.logo span {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 600;
  color: #07cb79;
}

.logo span:nth-child(2) {
  color: #9a9da2;
}

nav ul li {
  float: left;
  margin-right: 30px;
}

nav ul li a {
  display: inline-block;
  padding: 15px 0 12px;
  font-size: 16px;
  font-weight: bold;
  color: #bcbec2;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

nav .nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-inner .hamburger-container {
  width: 55px;
  height: 55px;
  font-size: 28px;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 2px;
  color: #bcbec2;
  background-color: transparent;
  cursor: pointer;
}

.banner {
  height: 515px;
  background: grey url(./images/banner.jpg) no-repeat center center;
  background-size: cover;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 515px;
  background: rgba(44, 55, 66, 0.8);
}

.content {
  position: relative;
  margin-top: -350px;
}

.container {
  width: 940px;
  height: 1000px;
  margin: 0 auto;
}

.container .about {
  box-shadow: 0 0 5px #666;
  background-color: #fff;
}

.container .profile {
  padding: 50px;
}

.container .profile-photo {
  float: left;
}

.container .profile-photo img {
  width: 300px;
  height: auto;
}

.container .profile-info {
  float: left;
  width: 480px;
  margin-left: 60px;
}

.container .profile-info p {
  margin: 20px 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #dedede;
}

.container .profile-info dt, .container .profile-info dd {
  float: left;
  padding: 5px 0;
}

.container dl {
  font-size: 16px;
}

.container .profile-info dt {
  font-weight: bold;
  width: 30%;
}

.container .profile-info dd {
  width: 70%;
  color: #acafb4;
}

.container .profile-social {
  background-color: #07cb79;
}

.container .profile-social ul {
  text-align: center;
  padding: 15px 0;
}

.container .profile-social ul li {
  display: inline-block;
  margin: 5px 15px;
}

.container .profile-social li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  transition: all .5s ease;
}

.container .profile-social li a:hover {
  background: rgba(0,0,0,0.1);
}

.hello {
  display: inline-block;
  position: relative;
  padding: 5px;
  font-weight: bold;
  color: #fff;
  background: #07cb79;
}

.hello::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 100%;
  /* 一种写法 */
  /* border: 8px solid transparent;
  border-left-color: #07cb79;
  border-top-width: 0;
  border-right-width: 0; */
  /* 另一种 */
  border: 5px solid #07cb79;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.container .about h1 {
  font-size: 36px;
  padding: 20px 0 0;
}

.download {
  margin-top: 30px;
  text-align: center;
  color: #5b616c;
}

a.download-btn {
  display: inline-block;
  padding: 15px 20px;
  margin-bottom: 25px;
  border: 1px solid #cbcdcf;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  transition: all .3s;
}

a.download-btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18) ,0 4px 15px 0 rgba(0,0,0,0.15);
}

h2 {
  font-size: 34px;
  margin-bottom: 25px;
  text-align: center;
  color: #3d4451;
}

.skills {
  padding-top: 70px;
}

.skill-bar-box {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 5px #666;
}

.skill-bar {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px;
}

.skill-bar .bar-data {
  position: relative;
  margin-bottom: 5px;
  color: #5b616c;
}

.skill-bar .bar-data span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}

.skill-bar .bar-line {
  position: relative;
  height: 5px;
  border-radius: 5px;
  background: #cdf5e4;
}

.skill-bar .bar-line .bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  border-radius: 5px;
  background: #07cb79;
}

.portfolio {
  padding-top: 70px;
  padding-bottom: 70px;
}

.portfolio .portfolio-photo {
  height: 400px;
  background: #fff;
  box-shadow: 0 0 5px #666;
}

.header-inner.active {
  height: 55px;
  padding: 0 15px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 19%), 0 6px 10px rgb(0 0 0 / 23%);
  background: #fff;
}

.filter-wrap {
  text-align: center;
}

.filter {
  display: inline-block;
}

.portfolio .btn-group button {
  margin-right: 40px;
  padding: 10px 0;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.filter button:nth-child(3) {
  margin-right: 0;
}

.filter-bar {
  position: relative;
  height: 5px;
  margin: 0 0 20px;
  border-radius: 5px;
  background: #fff;
}

.filter-bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #07cb79;
  transition: all 1s;
}

.filter-bar span.state1 {
  width: 30px;
  left: 0;
}
.filter-bar span.state2 {
  width: 82px;
  left: 70px;
}
.filter-bar span.state3 {
  width: 58px;
  left: 192px;
}