* {
  margin: 0;
  padding: 0;
}
#canvas {
  position: relative;
  background: #fff;
}
.actions {
  position: absolute;
  top: 28px;
  left: 170px;
}
.actions > #eraser,
.actions > #brush {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 6px;
  background: #fff;
}
.actions > #eraser {
  display: none;
}
.actions.x > #eraser {
  display: inline-block;
}
.actions.x > #brush {
  display: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: #000;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
}
.icons {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
.icons svg.active {
  fill: red;
  transform: scale(1.2);
}

.colors {
  position: absolute;
  top: 80px;
  left: 20px;
}

ul, ol {
  list-style: none;
}

.colors > li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 0;
  transition: all .3s;
}

.colors > li.black {
  background: black;
}
.colors > li.blue {
  background: blue;
}
.colors > li.green {
  background: green;
}
.colors > li.yellow {
  background: yellow;
}
.colors > li.active {
  box-shadow: 0 0 0 1px skyblue;
  transform: scale(1.2);
}

.sizes {
  position: absolute;
  top: 8px;
  right: 20px;
}
.sizes > li {
  margin: 20px 5px;
  transition: all .3s;
}
.sizes .thin {
  height: 0;
  width: 20px;
  border-top: 3px solid #000;
}
.sizes .thick {
  height: 0;
  width: 20px;
  border-top: 6px solid #000;
}
.sizes li.active {
  transform: rotate(90deg);
}