* {
  margin: 0;
  padding: 0;
}
#canvas {
  position: relative;
  background: #000;
}
.actions {
  position: absolute;
  top: 28px;
  left: 150px;
}
.actions > #eraser,
.actions > #brush {
  padding: 5px;
  border: none;
  border-radius: 6px;
  background: #fff;
}
.actions > #brush {
  display: none;
}
.actions.x > #brush {
  display: inline-block;
}
.actions.x > #eraser {
  display: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: white;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
}
.icons {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
.icons svg.active {
  fill: red;
  transform: scale(1.2);
}
