* {
  margin: 0;
  padding: 0;
}
#canvas {
  background: #000;
}
.actions {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.actions > #eraser,
.actions > #brush {
  background: #fff;
  border: none;
  padding: 5px;
}
.actions > #brush {
  display: none;
}
.actions.x > #brush {
  display: inline-block;
}
.actions.x > #eraser {
  display: none;
}
